// Fonts
$font-family: 'Muli', sans-serif !default;
$headings-font-family: $font-family !default;

// html is set to 62.5% so all rem measurements are based on 10px sizing.
// So 1.5rem = 15px
$gap: 1.25rem !default;
$fluid-container-gap: 4rem !default;
$base-font: 1.6rem !default;
$base-line-height: 1.45 !default;
$border-radius: .1rem !default;

/* Modular typography ratios
-------------------------------------------*/
// MInor third 1.2
// Major Third: 1.25
// Perfect Fourth 1.333
// Augmented Fourth 1.414
// Perfect fifth 1.5
// Golden Ratio 1.618
$ratio: 1.333 !default;

// Media queries
$mq-sm: 576px !default;
$mq-md: 768px !default;
$mq-lg: 1200px !default;

/* Colors
-------------------------------------------*/
$color-red: #DB3A34 !default;
$color-green: #14F0A7 !default;
$color-blue: #26A7F2 !default;
$color-orange: #FF8811 !default;
$color-dark: #262626 !default;
$color-light: #FFF8F0 !default;

$color-gray: #605E5E !default;
$color-black: #323031 !default;
$color-white: #fff !default;

$color-yellow: #fac606;

$color-body: #323031 !default;

$color-main: #625545 !default;
$color-cta: #58355E !default;

$body-color: #333 !default;
$headings-color: $color-body !default;
$link-color: #306BAC !default;
$link-hover-color: #141B41 !default;
$box-shadow-color: #000 !default;

// Color list
// used for buttons and other color helpers
$colors: (
    main: $color-main,
    cta: $color-cta,
    dark: $color-dark,
    light: $color-light,
    gray: $color-gray,
    info: $color-blue,
    success: $color-green,
    warning: $color-orange,
    danger: $color-red,
    yellow: $color-yellow
) !default;
