@import '../../../node_modules/fioucss/src/scss/fiou.scss';

body {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-gray;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: $color-dark;
}

a:hover {
  text-decoration: underline;
}

.f_container-fluid {
  padding-left: $fluid-container-gap;
  padding-right: $fluid-container-gap;
}

.ion {
  color: #fff;
  font-size: 2.25rem
}

.page-title {
  font-size: 3.25rem;
  font-weight: 700;
  color: $color-gray;
  margin: 0;
  padding: 3rem 0 3rem 0.5rem;
}

.vnt-page-section {
  padding: 10rem 0;
}

.vnt-page-header {
  padding: .5rem 0;
  background: #fff;

  * {
    margin: 0;
    font-size: 1.5rem;
    color: $color-dark;
  }
}

.current-crump {
  font-size: 1.25rem;
}

.font-600 {
  font-weight: 600;
}

.f_pt-1 {
  padding-top: 1rem;
}

.f_pt-125 {
  padding-top: 1.25rem;
}

.f_pt-15 {
  padding-top: 1.5rem;
}

.f_pt-2 {
  padding-top: 2rem;
}

.f_pt-5 {
  padding-top: 5rem;
}

.f_pb-5 {
  padding-bottom: 5rem;
}

.bg-gray {
  background-color: #605E5E;
  color: #fff;
}

.f_p-relative {
  position: relative;
}

.f_container-fluid,
.f_container {
  position: relative;
}

.f_flex {
  display: block;
}

.f_flex\@xs {
  display: flex;
}

.f_row {
  display: block;
  margin-left: -$gap;
  margin-right: -$gap;
  flex-wrap: wrap;
}

.f_row\@xs {
  display: flex;
  margin-left: -$gap;
  margin-right: -$gap;
  flex-wrap: wrap;
}

@media screen and (min-width: #{$mq-lg}) {
  .f_flex {
    display: flex;
  }

  .f_row {
    display: flex;
  }
}

.vnt-page-section-practice {
  margin-bottom: 0;
  padding-bottom: 0;
}


