<template>
  <div class="home">
    <section class="hero" style="max-height: 100%;">
      <vnt-parallax :img="heroBg" height="100vh" heightSm="100vh">
          <img
            v-lazy="heroLogo"
            class="f_img-fluid"
            alt="J+A Logo"/>

            <vnt-scroll-arrow v-scroll-to="{ el: '#section-projects' }"></vnt-scroll-arrow>
      </vnt-parallax>
    </section>

    <div class="f_container-fluid" id="section-projects" ref="section-projects">
      <vnt-page-section heading="Projects">
        <vnt-project-categories-masonry></vnt-project-categories-masonry>
      </vnt-page-section>
    </div>

    <vnt-parallax :img="heroBg" height="60vh"></vnt-parallax>

    <div class="f_container-fluid" id="section-practice" ref="section-practice">
      <vnt-page-section heading="Practice" v-if="practises">
        <vnt-hero-slider :items="practises"></vnt-hero-slider>
      </vnt-page-section>
    </div>

    <vnt-parallax :img="heroBg" height="60vh"></vnt-parallax>

    <div class="f_container-fluid" id="section-people" ref="section-people">
      <vnt-page-section heading="People" v-if="people">
        <vnt-people :items="people"></vnt-people>
      </vnt-page-section>
    </div>

    <vnt-parallax :img="heroBg" height="60vh"></vnt-parallax>

    <div id="section-contact" ref="section-contact">
      <vnt-page-section heading="Contact">
        <vnt-contact></vnt-contact>
      </vnt-page-section>
    </div>

    <!-- <section class="f_pb-5">
      <div class="f_container-fluid">
        <GmapMap
          :center="{lat: 35.1485387, lng: 33.3508501}"
          :zoom="15"
          :options="mapOpts"
          map-type-id="terrain"
          style="width: 100%; height: 60vh"
        >
          <GmapMarker
            :position="{lat: 35.1485387, lng: 33.3508501}"
            :clickable="true"
            :draggable="false"
            @click="center = {lat: 35.1485387, lng: 33.3508501}"
          />
        </GmapMap>
      </div>
    </section> -->
  </div>
</template>

<script>
// import VueScrollTo from 'vue-scrollto';
import apiMix from '@/mixins/api.js';
import VntParallax from '../components/VntParallax.vue';
import VntProjectCategoriesMasonry from '../components/VntProjectCategoriesMasonry.vue';
import VntPageSection from '../components/VntPageSection.vue';
import VntHeroSlider from '../components/VntHeroSlider.vue';
import VntPeople from '../components/VntPeople.vue';
import VntContact from '../components/VntContact.vue';
import VntScrollArrow from '@/components/VntScrollArrow.vue';
import EventBus from '@/event-bus.js';
import { def_seo_title, def_seo_desc } from '@/utils.js';

export default {
  name: 'home-view',

  components: {
    VntParallax,
    VntProjectCategoriesMasonry,
    VntPageSection,
    VntHeroSlider,
    VntPeople,
    VntContact,
    VntScrollArrow
  },

  mixins: [apiMix],

  data() {
    return {
      logo: {
        sm: require('../assets/images/logo-260.png'),
        lg: require('../assets/images/logo-640.png'),
        sm_b: require('../assets/images/logo-260-b.png'),
        lg_b: require('../assets/images/logo-640-b.png'),
      },
      page: null,
      mapOpts: {
        styles: require('../gmap-options.json')
      },
      sections: [
        'section-projects',
        'section-practice',
        'section-people',
        'section-contact'
      ],
    };
  },

  metaInfo () {
    return {
      title: this.page && this.page.head_tags && this.page.head_tags.title ? this.page.head_tags.title : def_seo_title(),
      meta: [{
        vmid: 'description',
        name: 'description',
        content: this.page && this.page.head_tags && this.page.head_tags.desc ? this.page.head_tags.desc : def_seo_desc(),
      }]
    }
  },

  computed: {
    practises() {
      return this.page ? this.page.fields.practice : null;
    },
    people() {
      return this.page ? this.page.fields.people : null;
    },
    heroLogo() {
      return this.page ? this.page.fields.home_hero_logo : null;
    },
    heroBg() {
      if(this.page && this.page.cover_image) {
        return this.page.cover_image.vnt_hero.url;
      }
    }
  },

  created() {
    this.fetchPage('home');

    this.$nextTick(() => {
      EventBus.$emit('pageScrollThreshold', false);

      EventBus.$on('scrolling', (data) => {
        if(data.top) {
          EventBus.$emit('activeHomeSection', null);
        } else {
          Object.keys(this.$refs).forEach(r => {
            if(this.$refs[r] && this.sections.includes(this.$refs[r].id)) {
              const oTop = this.$refs[r].offsetTop;
              const oHeight = oTop + this.$refs[r].offsetHeight;
              // console.log('top: ' + oTop + ' height: ' + oHeight + ' y: ' +data.pageYOffset)
              if((oTop - 85) < data.pageYOffset && (oHeight - 10) > data.pageYOffset ) {
                EventBus.$emit('activeHomeSection', this.$refs[r].id);
              }
            }
          });
        }
      });
    });
  },

  updated() {
    this.$nextTick(() => {
      if(this.$route.hash) {
        setTimeout(() => {
          this.$scrollTo(
            this.$route.hash,
            800,
            {
              offset: -80,
              onDone: (el) => {
                EventBus.$emit('activeHomeSection', el.id);
              }
            }
          );
        }, 300);
      }
    });
  },
}
</script>

<style scoped>
body {
  padding-top: 0!important;
}
</style>


