<template>
  <div class="vnt-page" v-if="page">
    <section class="vnt-page-hero">
      <img class="f_img-fluid" :src="hero" alt="page.title"/>
    </section>

    <vnt-page-section sepBg="#fac606" :heading="page.title" bg="dark" sep="4rem">
      <div class="f_container">
        <div class="f_row f_justify-between content">
          <div
          v-for="(content, i) in contentData"
          :key="i"
          :class="`f_col-${contentCol}`"
          v-html="content.column">
          </div>
        </div>
      </div>
    </vnt-page-section>
  </div>
</template>


<script>
import apiMix from '@/mixins/api.js';
import VntPageSection from '../components/VntPageSection.vue';
import { def_seo_title, def_seo_desc } from '@/utils.js';


export default {
  name: 'page-view',

  mixins: [
    apiMix
  ],

  components: {
    VntPageSection,
  },

  data() {
    return {
      page: null
    }
  },

  metaInfo () {
    return {
      title: this.page && this.page.head_tags && this.page.head_tags.title ? this.page.head_tags.title : def_seo_title(),
      meta: [{
        vmid: 'description',
        name: 'description',
        content: this.page && this.page.head_tags && this.page.head_tags.desc ? this.page.head_tags.desc : def_seo_desc(),
      }]
    }
  },

  computed: {
    hero() {
      if(this.page && this.page.cover_image) {
        return this.page.cover_image.vnt_hero.url;
      }
    },
    contentCol() {
      if(this.page && this.page.fields && this.page.fields.page_column_content) {
        if(this.page.fields.page_column_content.length === 3) {
          return '1of3';
        } else {
          return Math.round(100 / this.page.fields.page_column_content.length) + '';
        }
      }
    },
    contentData() {
      if(this.page && this.page.fields && this.page.fields.page_column_content) {
        return this.page.fields.page_column_content;
      }
    }
  },

  created() {
    this.fetchPage(this.$route.params.slug);
  },
}
</script>

<style scoped>
.content {
  text-align: justify;
}
</style>
