<template>
  <div class="project-category-view">
    <div class="f_container-fluid">
      <h1 class="page-title" v-if="category" v-html="category.name"></h1>
    </div>

    <vnt-projects-masonry :items="projectCategoriesItems"></vnt-projects-masonry>
  </div>
</template>

<script>
import apiMix from '@/mixins/api.js';
import VntProjectsMasonry from '@/components/VntProjectsMasonry.vue';
import { def_seo_title, def_seo_desc } from '@/utils.js';

export default {
  name: 'project-category-view',

  components: {
    VntProjectsMasonry
  },

  mixins: [apiMix],

  data() {
    return {
      projectCategoriesItems: [],
      projectCategories: [],
      title: 'sadasdasd asdasdasd'
    }
  },

  metaInfo () {
    return {
      title: this.category && this.category.head_tags && this.category.head_tags.title ? this.category.head_tags.title : def_seo_title(),
      meta: [{
        vmid: 'description',
        name: 'description',
        content: this.category && this.category.head_tags && this.category.head_tags.desc ? this.category.head_tags.desc : def_seo_desc(),
      }]
    }
  },

  created() {
    this.fetchProjectCategories();
    this.fetchProjectCategoryItems();

  },

  updated() {
    console.log(this.category);
  },

  computed: {
    category() {
      return this.projectCategories.find(c => c.slug === this.$route.params.cat);
    }
  },
}
</script>

