<template>
  <div class="project-view">
    <section class="vnt-page-header">
      <div class="f_container-fluid">
      <div class="vnt-breadcrumps">
        <router-link
          class="f_font-600"
          :to="{ name: 'projects.cat', params: { cat: $route.params.cat } }"
          v-html="category ? category.name : ''">
        </router-link>

        <span class="current-crump" v-if="project" v-html="` | ${project.title}`"></span>
      </div>
      </div>
    </section>

    <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop" v-if="gallery">
      <swiper-slide v-for="item in gallery" :key="item['ID']">
        <!-- <div class="slide-bg" :style="[slideStyle(item, 'vnt_hero')]"></div> -->
        <img :src="item.sizes.large" :alt="item.alt ? item.alt : item.title">
      </swiper-slide>
      <div class="swiper-button-next" slot="button-next">
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='#fac606'/></svg>
      </div>
      <div class="swiper-button-prev" slot="button-prev">
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#fac606'/></svg>
      </div>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>

    <!-- <div class="gallery-thumbs-wrap">
      <div class="f_container gallery-thumbs-container">
        <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs" v-if="gallery">
          <swiper-slide v-for="item in gallery" :key="item['ID']">
            <div class="slide-bg" :style="[slideStyle(item, 'thumbnail')]"></div>
          </swiper-slide>
        </swiper>
      </div>
    </div> -->

    <section class="vnt-page-section section-page-content" v-if="project">
      <div class="f_container">
        <div class="f_flex f_justify-content-center">
          <div class="f_col-70">
            <div class="content-title">
              <h1>
                <span v-html="project.title"></span>
                <span
                  v-if="project.fields.project_tagline"
                  v-html="project.fields.project_tagline"></span>
              </h1>
            </div>
            <div class="content" v-html="project.content"></div>

            <div class="vnt-page-section project-info">
              <div class="f_flex">
                <div class="f_col-50 project-info-col" v-if="project.fields.project_credits">
                  <h4>CREDITS</h4>
                  <vnt-sep
                    spacing="1rem"
                    height="2px"
                    position="left"
                    bg="#fac606"/>
                  <ul class="f_list-unstyled">
                    <li
                      class="f_flex f_justify-between project-info-list-row"
                      v-for="(credit, i) in project.fields.project_credits"
                      :key="credit.title + i">
                      <div class="f_col">
                        {{ credit.title }}
                      </div>
                      <div class="f_col">
                        {{ credit.name || '....' }}
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="f_col-50 project-info-col" v-if="project.fields.project_team">
                  <h4>TEAM</h4>
                  <vnt-sep
                    spacing="1rem"
                    height="2px"
                    position="left"
                    bg="#fac606"/>
                  <ul class="f_list-unstyled">
                    <li
                      class="f_flex f_justify-content-between project-info-list-row"
                      v-for="(team, i) in project.fields.project_team"
                      :key="team.title + i">
                      <div class="f_col">
                        {{ team.title }}
                      </div>
                      <div class="f_col">
                        {{ team.name || '....' }}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="f_pt-5 f_pb-5" v-if="map">
      <div class="f_container-fluid">
        <GmapMap
          :center="{lat: Number(map.lat), lng: Number(map.lng)}"
          :zoom="15"
          :options="mapOpts"
          map-type-id="terrain"
          style="width: 100%; height: 60vh"
        >
          <GmapMarker
            :position="{ lat: Number(map.lat), lng: Number(map.lng) }"
            :clickable="true"
            :draggable="false"
            :icon="{ url: marker }"
            @click="center = {lat: Number(map.lat), lng: Number(map.lng)}"
          />
        </GmapMap>
      </div>
    </section>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import VntSep from '@/components/VntSep.vue';
import apiMix from '@/mixins/api.js';
import { def_seo_title, def_seo_desc } from '@/utils.js';

export default {
  name: 'project-view',

  components: {
    swiper,
    swiperSlide,
    VntSep
  },

  mixins: [apiMix],

  data() {
    return {
      project: null,
      projectCategories: [],
      swiperOptionTop: {
        spaceBetween: 0,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        slidesPerView: 4,
        touchRatio: 0.2,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        slideToClickedSlide: true,
      },
      mapOpts: {
        styles: require('../gmap-options.json')
      }
    }
  },

  metaInfo () {
    return {
      title: this.project && this.project.head_tags && this.project.head_tags.title ? this.project.head_tags.title : def_seo_title(),
      meta: [{
        vmid: 'description',
        name: 'description',
        content: this.project && this.project.head_tags && this.project.head_tags.desc ? this.project.head_tags.desc : def_seo_desc(),
      }]
    }
  },

  created() {
    this.fetchProject();
    this.fetchProjectCategories();
  },

  computed: {
    gallery() {
      if(this.project) {
        // this.initGallery();
        return this.project.fields.gallery;
      }
      return null;
    },
    category() {
      return this.projectCategories.find(c => c.slug === this.$route.params.cat);
    },
    map() {
      return this.project && this.project.fields.project_map
        ? this.project.fields.project_map
        : null
    },
    marker() {
      return require('../assets/images/marker.png');
    }
  },

  methods: {
    initGallery() {
      this.$nextTick(() => {
        // const swiperTop = this.$refs.swiperTop.swiper
        // swiperTop.controller.control = swiperThumbs
      });
    },

    slideStyle(item, size) {
      return {
        backgroundImage: `url(${item.sizes[size]})`,
      }
    },

    async fetchProject() {
      try {
        const { data } = await this.$store.dispatch('api/get', {
          path: `/projects/?slug=${this.$route.params.project}`,
        });

        this.project = data[0];
      }
      catch (error) {
        console.log(error);
      }
    },
    goBack() {
      this.$router.go(-1);
    },
  }
}
</script>

<style lang="scss">
  .section-page-content {
    background: #605E5E;
    color: #fff;
  }
  .content {
    text-align: justify;
  }
  .content-title h1 {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;

    &:after {
      content: "";
      display: block;
      width: 120px;
      height: 5px;
      background: $color-yellow;
      margin: 2rem auto 0 auto;
    }
  }
  .project-info {
    h4 {
      font-weight: 700;
      margin-bottom: 3rem;
      color: #fff;
    }

    .project-info-list-row {
      padding: .5rem 0;
      border-bottom: 1px solid lighten($color-gray, 2%);
    }

    .project-info-col:nth-child(1) {
      @media (min-width: 1200px) {
        margin-right: 1.75rem;
      }
    }

    .project-info-col:nth-child(2) {
      @media (min-width: 1200px) {
        margin-left: 1.75rem;
      }
    }
  }

  .gallery-top {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #fff;

    .swiper-slide {
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
    }

    .slide-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      cursor: ew-resize;
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        background: #000;
        opacity: 0.4;
        cursor: pointer;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: $color-yellow;
    }
  }

  .gallery-thumbs-wrap,
  .gallery-thumbs {
    background-color: #f5f5f5;
  }

  .gallery-thumbs {
    height: 20%!important;
    box-sizing: border-box;
    padding: 10px 0;

      .slide-bg {
        height: 120px;
        background-size: cover;
        cursor: pointer;
      }
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }

  .swiper-button-next {
    transition: all 0.4s;

    &:hover {
      transform: translateX(3px);
    }
  }

  .swiper-button-prev {
    transition: all 0.4s;

    &:hover {
      transform: translateX(-3px);
    }
  }
</style>
