<template>
  <div
    @mouseenter="hovered = true"
    @mouseleave="hovered = false"
    class="app-circle-link">
    <router-link
      class="circle"
      :to="{ name: 'page', params: { slug: item.page.post_name } }">
      <img :src="item.image.sizes.vnt_medium_crop" :alt="item.title">
      <h3 :style="[headingStyle]">{{ item.title }}</h3>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'AppCircleLink',

  props: {
    item: {
      required: true
    }
  },

  data: () => ({
    hovered: false
  }),

  computed: {
    headingStyle() {
      return {
        color: this.hovered ? this.item.hover_color : '#fff',
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .app-circle-link {
    padding: 2rem;

    .circle {
      display: block;
      background: #000;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 3.5rem;
        transition: all 0.4s;
      }

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: all .4s;
        transform: scale(1.1);
      }

      &:hover {
        img {
          transform: scale(1.16);
          opacity: .7;
        }
      }
    }
  }
</style>


