<template>
  <nav class="app-nav">
    <ul class="f_list-unstyled app-nav-items" v-if="$route.name === 'home'">
      <li
        v-for="item in items"
        :key="item.label">
        <a
          href="#"
          :class="{'is-active': item.active, 'vnt-nav-item': 1 }"
          v-scroll-to="{ el: item.hash, onDone: clicked, offset: -78 }">
            {{ item.label }}
        </a>
      </li>
    </ul>
    <ul class="f_list-unstyled app-nav-items" v-else>
      <li
        v-for="item in items"
        :key="item.label">
        <router-link :to="`/${item.hash}`" >{{ item.label }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import EventBus from '@/event-bus.js';

export default {
  name: 'app-nav',

  data() {
    return {
      items: [
        {
          name: 'home',
          hash: '#section-projects',
          label: 'Projects',
          active: false,
        },
        {
          name: 'home',
          hash: '#section-practice',
          label: 'Practice',
          active: false,
        },
        {
          name: 'home',
          hash: '#section-people',
          label: 'People',
          active: false,
        },
        {
          name: 'home',
          hash: '#section-contact',
          label: 'Contact',
          active: false,
        }
      ],
    }
  },

  mounted() {
    EventBus.$on('activeHomeSection', (id) => {
      this.items.map(i => {
        i.active = i.hash === `#${id}`;
      });
    })
  },

  methods: {
    clicked(el) {
      this.items.map(i => {
        i.active = i.hash === `#${el.id}`;
      });
    },
    emitHash(hash) {
      EventBus.$emit('setHashFromPages', hash.replace('#',''));
    }
  }
}
</script>

<style lang="scss">
.app-nav {
  .app-nav-items {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    > li:not(:first-child) {
      margin-left: 5rem;
    }

    a {
      font-size: 2rem;
      color: #fff;
      transition: all .4s;
    }

    a:hover {
      text-decoration: none;
      color: #eeca1d;
    }

    a.is-active {
      color: #eeca1d;
    }
  }
}
</style>

