<template>
  <div class="app-logo" :style="[fontColor, mainFontSize]">
    J+A Philippou
    <span :style='[smallFontSize]'>
      architects
      <span>&bull;</span>
      engineeers
    </span>
  </div>
</template>

<script>
export default {
  name: 'vnt-app-logo',

  props: {
    color: {
      type: String,
      default: '#fff'
    },
    fontSize: {
      default: 2.5
    }
  },

  computed: {
    fontColor() {
      return { color: this.color }
    },
    mainFontSize() {
      return { fontSize: this.fontSize + 'rem' }
    },
    smallFontSize() {
      return { fontSize: this.fontSize * .6 + 'rem' }
    }
  }
}
</script>

<style lang="scss" scoped>
$font-size: 2.5rem;

.app-logo {
  text-align: center;

  > span {
    display: block;
    margin-top: -6px;

    > span {
      display: inline-block;
      transform: translateY(1px);
    }
  }
}
</style>


