<template>
  <div class="vnt-contact-form">
    <form class="f_form">
      <div class="f_flex f_align-items-stretch f_justify-content-center">
        <div class="f_col-50 form-left">
          <div class="f_field">
            <input type="text" placeholder="name">
          </div>
          <div class="f_field">
            <input type="text" placeholder="email">
          </div>
          <div class="f_field">
            <input type="text" placeholder="subject">
          </div>
        </div>
        <div class="f_col-50 form-right">
          <div class="f_field">
            <textarea placeholder="message"></textarea>
          </div>
        </div>
      </div>

      <div class="contact-form-consent f_pt-15">
        <div class="f_field">
          <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
          <label class="cbx" for="cbx">
            <span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span>
            <span>
              By using this form you agree to the use of your data in accordance with our
              <a href="/" rel="noopener" target="_blank" class="policy-link">
                Privacy Policy
              </a>
            </span>
          </label>
        </div>
      </div>

      <div class="f_flex@xs f_align-items-center f_form-footer">
        <button class="submit f_btn f_btn-dark">Send</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'vnt-contact-form',

  data() {
    return {
      name: '',
      email: '',
      message: '',
      subject: '',
    }
  }
}
</script>

<style lang="scss" scoped>
@mixin fields {
  padding: 6px 10px;
  background-color: $color-gray;
  border: 1px solid $color-dark;
}

::placeholder {
  color: #ccc !important;
}

.vnt-contact-form {
  height: 100%;
  display: flex;
  align-items: center;
 }

.f_form input[type="text"],
.f_form input[type="email"] {
    height: 42px;
    @include fields;
}

.f_form textarea {
  @include fields;
}

.f_field {
  margin: 0;
}

.form-right {
  .f_field {
    height: 100%;
  }
}

.form-left {
  margin-bottom: 2rem;

  @media (min-width: #{$mq-lg}) {
    padding-right: 1rem;
    margin-bottom: 0;
  }

  .f_field:nth-child(2) {
    margin: 1rem 0;
  }
}

textarea {
  height: 100%;
}

.policy-link {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: $color-yellow;
  }
}

.f_form-footer {
  justify-content: center;

  @media (min-width: #{$mq-lg}) {
    justify-content: flex-end;
  }

  button {
    margin-top: 1rem;
  }
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3a3f52;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #3a3f52;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #3a3f52;
  border-color: #3a3f52;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
</style>

