<template>
  <div class="vnt-contact">
    <div class="f_flex f_justify-content-between">
      <div class="f_col-25 bg-gray-1">
        <div class="f_flex@xs f_justify-content-center">
          <div class="vnt-card vnt-card-contact">
            <h3>Contact us</h3>
            <vnt-sep bg="#fac606"/>
            <p>Ionos 1, Engomi, 2406, Nicosia, Cyprus</p>
            <p>P.O.Box 21732, Nicosia, 1512, Cyprus</p>
            <p>+357 22 716 000</p>
            <p>+357 22 716 100</p>
            <p><a href="mailto:info@japhilippou.com">info@japhilippou.com</a></p>
            <GmapMap
              :center="{lat: 35.1644263, lng: 33.3463383}"
              :zoom="14"
              :options="mapOpts"
              map-type-id="terrain"
              style="width: 100%; height: 19vh"
            >
              <GmapMarker
                :position="{lat: 35.1644263, lng: 33.3463383}"
                :clickable="true"
                :draggable="false"
                :icon="{ url: marker }"
                @click="center = {lat: 35.1644263, lng: 33.3463383}"
              />
            </GmapMap>
          </div>
        </div>
      </div>
      <div class="f_col-25 bg-gray-2">
        <div class="f_flex@sm f_justify-content-center">
          <div class="vnt-card vnt-card-visit">
            <h3>Visit us</h3>
            <vnt-sep bg="#fac606"/>
            <p class="font-600">Monday - Thursday</p>
            <p>08:00 - 13:00 & 14:00 - 17:15</p>
            <p class="font-600">Friday</p>
            <p>08:00 - 13:00</p>
            <p class="font-600">Saturday</p>
            <p>Closed</p>
            <p class="font-600">Sunday</p>
            <p>Closed</p>
          </div>
        </div>
      </div>
      <div class="f_col-50">
        <div class="f_flex@xs f_justify-content-center">
          <div class="vnt-card vnt-card-tell">
            <h3>Tell us</h3>
            <vnt-sep bg="#fac606"/>
            <vnt-contact-form />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VntSep from '@/components/VntSep.vue';
import VntContactForm from '@/components/VntContactForm.vue';

export default {
  name: 'vnt-contact',

  data: () => ({
    mapOpts: {
      styles: require('../gmap-options.json')
    },
  }),

  components: {
    VntSep,
    VntContactForm
  },

  computed: {
    marker() {
      return require('../assets/images/marker.png');
    }
  }
}
</script>


<style lang="scss">
.bg-gray-1 {
  background-color: #8c8c8c;
}

.bg-gray-2 {
  background-color: #6e6e6e;
}

a[href*="mailto:"] {
  color: #fff;

  &:hover {
    text-decoration: none;
    color: $color-yellow;
  }
}

.vnt-contact {
  color: #fff;
  background: $color-gray;

  .vnt-card {
    text-align: center;
    padding: 5rem 0;
  }

  .vnt-card-tell {
    padding: 1rem;
  }

  @media (min-width: #{$mq-lg}) {
    .vnt-card-tell {
      width: 75%;
      padding: 5rem 0;
    }
  }

  h3 {
    color: #fff;
    font-weight: 600;
    font-size: 4rem;
  }
}
</style>
