<template>
  <div class="vnt-footer">
    <div class="f_container-fluid">
      <div class="f_flex vnt-footer-flex">
        <p>2018 &copy; J+A Philippou </p>
        <ul class="f_list-unstyled f_flex@xs f_align-items-center f_justify-content-center">
          <li>
            <a href="/">Terms &amp; Conditions</a>
          </li>
          <li> | </li>
          <li>
            <a href="/">Privacy policy</a>
          </li>
        </ul>
        <p class="poweredby">
          Powered by
          <a href="https://noveldigital.pro" rel="noopener" target="_blank">
            <img class="novel-logo" src="@/assets/images/novel-w.svg" alt="Novel digital"/>
          </a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'vnt-footer',
}
</script>


<style lang="scss" scoped>
.vnt-footer {
  background-color: #464343;
  padding: 1.5rem 0;
}

.vnt-footer-flex {
  align-items: center;
  flex-direction: column;

  @media (min-width: #{$mq-lg}) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.vnt-footer {
  p, a , ul {
    font-size: 1.25rem;
    color: #8c8c8c;
    margin: 0;
    text-align: center;
  }

  @media (min-width: #{$mq-lg}) {
    text-align: initial;
  }

  .poweredby {
    margin-top: 1.25rem;

    @media (min-width: #{$mq-lg}) {
      margin-top: 0;
    }
  }
}

ul li {
  margin: 0 1rem;
}

.novel-logo {
  transform: translateY(-3px);
}
</style>
