<template>
  <div class="vnt-hero-slider">
    <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop" v-if="items">
      <swiper-slide v-for="(item, i) in items" :key="item.title + i">
        <div class="slide-bg" :style="[slideStyle(item)]">
          <div class="f_flex slide-content-wrap">
            <div class="f_col-45 slide-content-col">
              <div class="slide-content">
                <vue-perfect-scrollbar>
                  <div
                    :style="[{ backgroundColor: item.bg_color || 'rgba(221, 221, 221, 0.8)' }]"
                    class="slide-content-boby">
                    <h3
                      :style="[{ color: item.title_color || '#333333' }]"
                      class="slide-title">
                      {{ item.title }}
                    </h3>
                    <vnt-sep :bg="item.separator_color || '#fff'"/>
                    <div
                      :style="[{ color: item.text_color || '#333333' }]"
                      class="slide-content-text"
                      v-html="item.text"></div>
                  </div>
                </vue-perfect-scrollbar>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
      <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import VuePerfectScrollbar from 'vue-perfect-scrollbar';
import VntSep from '../components/VntSep.vue';

export default {
  name: 'vnt-hero-slider',

  components: {
    swiper,
    swiperSlide,
    VuePerfectScrollbar,
    VntSep,
  },

  props: {
    items: {
      type: Array,
      required: true
    }
  },

  data() {
    return {
      swiperOptionTop: {
        spaceBetween: 0,
        loop: true,
        loopedSlides: 1, //looped slides should be the same
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
    };
  },

  methods: {
    slideStyle(item) {
      return {
        backgroundImage: `url(${item.image.sizes.vnt_hero})`,
      }
    },
  }
}
</script>


<style lang="scss">
.vnt-hero-slider {
  .slide-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 1200px) {
      height: 72vh;
    }
  }

  .swiper-slide:nth-child(even) {
    .slide-content-wrap {
      flex-direction: row-reverse;
    }
  }

  .slide-content-wrap {
    height: 100%;
    align-items: stretch;
  }

  .slide-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-self: stretch;
    padding: .5rem;
    height: 100%;
    box-sizing: border-box;

    @media (min-width: #{$mq-lg}) {
      padding: 4rem 6rem;
    }

    .slide-content-text {
      text-align: justify;
    }
  }

  .slide-content-boby {
    background: rgba(#ddd, 0.8);
    padding: 4rem 6rem;
    width: 100%;
  }

  .slide-title {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    color: $color-black;
  }

  .ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: #4b2b0c;
    width: 6px;
  }

  .ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    position: absolute;
    background-color: #4b2b0c;
    border-radius: 6px;
    transition: background-color .2s linear,height .2s linear,width .2s ease-in-out,border-radius .2s ease-in-out;
    right: 2px;
    width: 6px;
  }
}
</style>
