<template>
    <header
      class="vnt-header"
      id="masthead"
      :style="[headerStyles]">
      <div class="f_container-fluid">
        <div class="f_flex f_align-items-center f_justify-content-between">
          <div class="f_col-0 header-left">
            <router-link :to="{ name: 'home' }">
              <img :style="{ opacity: logo ? 1 : 0 }" class="logo f_img-fluid" src="@/assets/images/logo-w.png" alt="J+A Philippou site logo"/>
            </router-link>
          </div>

          <div class="f_col-0 app-nav-wrap">
            <vnt-app-nav></vnt-app-nav>
          </div>

          <div class="f_col-0 f_flex f_align-items-center f_justify-content-end header-right">
            <div class="social-col f_flex f_align-items-center f_justify-content-end">
              <a href="https://www.facebook.com/JAPhilippou/" target="_blank" rel="noopener noreferrer">
                <vnt-icons hover-color="#fac606" type="fb"></vnt-icons>
              </a>
              <a href="https://www.instagram.com/japhilippou/" target="_blank" rel="noopener noreferrer">
                <vnt-icons hover-color="#fac606" type="insta"></vnt-icons>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
</template>

<script>
import EventBus from '@/event-bus.js';
import VntAppLogo from '@/components/VntAppLogo.vue';
import VntAppNav from '@/components/VntAppNav.vue';
import VntIcons from '@/components/VntIcons.vue';

export default {
  name: 'vnt-header',

  props: {
    logo: {
      type: Boolean,
      default: true,
    }
  },

  components: {
    VntAppLogo,
    VntAppNav,
    VntIcons,
  },

  computed: {
    headerStyles() {
      return {
        //top: this.scrollUp || window.outerWidth < 1200 ? '0' : '-100%',
        top: '0',
      }
    },
    headerHeight() {
      return this.$el.clientHeight;
    },
  },

  methods: {
    toggleMobileMenu() {
      EventBus.$emit('toggleMobileMenu');
    },
  }
};
</script>

<style lang="scss">
.vnt-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  transition: all .5s;
  z-index: 11;

  .app-nav-wrap {
    display: none;

    @media (min-width: #{$mq-lg}) {
      display: block;
    }
  }

  .logo {
    width: 140px;
    transition: all 0.3s;

    @media (min-width: #{$mq-lg}) {
      width: auto;
      max-width: 100%;
    }
  }

  .header-right, .header-left {
    width: 180px;
    flex-basis: 180px;
  }

  .header-right {
    display: none;

    @media (min-width: #{$mq-lg}) {
      display: block;
    }
  }

  .social-col {
    a:not(:first-child) {
      margin-left: 2rem;
    }

    a:hover {
      color: $color-yellow;
    }
  }

  #Layer_1 {
    width: 24px;
    height: 24px;
  }
}
</style>


