<template>
  <svg
    version="1.1"
    id="vnt-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px"
    viewBox="0 0 24 24"
    style="enable-background:new 0 0 512 512;"
    :style="[styles]"
    @mouseenter="hovered = true"
    @mouseleave="hovered = false"
    xml:space="preserve"
    v-html="icons[type]">
  </svg>
</template>

<script>
import icons from '@/icons.js';

export default {
  name: 'vnt-app-icons',

  props: {
    type: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: '#fff',
    },
    hoverColor: {
      type: String,
      default: '#fff',
    },
    size: {
      type: Number,
      default: 26,
    },
    height: {
      type: Number,
      default: 26,
    }
  },

  data() {
    return {
      icons: icons,
      hovered: false,
    }
  },

  computed: {
    styles() {
      return {
        width: `${this.size}px`,
        height: `${this.height}px`,
        fill: this.hovered ? this.hoverColor : this.color,
      }
    },
  }
}
</script>

<style scoped>
svg {
  transition: all .4s;
}
</style>
