<template>
  <div class="vnt-justified-gallery-wrap">
    <div class="vnt-justified-gallery">

    </div>
  </div>
</template>

<script>
const justifiedLayout = require('justified-layout');

export default {
  name: 'VntJustifiedGallery',

  /*
   item: {
     width: int, required
     height: int, required
     link: url, optional link or img url
     label: string optional,
   }
  */

  props: {
    items: {
      type: any,
      required: true,
    }
  },

  data() {
    return {
      galleryHeight: 0,
      windowWidth: 0,
      windowWidthFactor: .74,
    }
  },

  created() {
    console.log(33)
    this.windowWidth = Math.ceil(window.outerWidth * this.windowWidthFactor);
  },

  methods: {
    createBoxes() {
      const boxes = [];
      this.items.forEach(i => {
        boxes.push({
          width: i.cover_image.vnt_medium_crop_h.w,
          height: i.cover_image.vnt_medium_crop_h.h,
          url: i.cover_image.vnt_medium_crop_h.url,
        });
      });

      this.generateJustifiedOutput(
        boxes,
        this.$refs['xmas'],
        {
          containerWidth: Math.ceil(window.outerWidth * this.windowWidthFactor),
          boxItems: items,
          containerPadding: 5,
          boxSpacing: 5,
          targetRowHeight: 240
        }
      );
    },
		generateJustifiedOutput(input, container, config) {

      const geometry = justifiedLayout(input, config);

      console.log('g: ', geometry);

			geometry.boxes.map((box, i) => {
        this.justifiedGalleryItems.push({
          box: {
            w: box.width,
            h: box.height,
            t: box.top,
            l: box.left,
          },
          data: config.boxItems[i]
        });
        this.justifiedGalleryContainerHeight = Math.ceil(geometry.containerHeight);
      });
		}
  }
}
</script>

