<template>
  <div class="vnt-menu-toggle" :class="isActive" @click="toggleMobileMenu">
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="cross">
      <span></span>
      <span></span>
    </div>
  </div>
</template>

<script>
import EventBus from '@/event-bus.js';

export default {
  name: 'vnt-menu-toggle',

  data() {
    return {
      active: false
    }
  },

  computed: {
    isActive() {
      return this.active ? 'active' : '';
    }
  },

  mounted() {
    EventBus.$on('toggleMobileMenu', () => {
      this.active = !this.active;
      console.log(this.active);
    });
  },

  methods: {
    toggleMobileMenu() {
      EventBus.$emit('toggleMobileMenu');
    }
  }
}
</script>



<style lang="scss" scoped>
.vnt-menu-toggle {
	flex: 0 0 auto;
	width: 36px;
	height: 36px;
	border: 1px solid #fff;
	cursor: pointer;
	position: relative;
}
.hamburger,.cross{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.hamburger span{
	display: block;
	width: 18px;
	height: 2px;
	margin-bottom: 3px;
	overflow: hidden;
	position: relative;
}
.hamburger span:last-child{
	margin: 0;
}
.hamburger span:before,
.hamburger span:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transform: translateX(-200%);
	transition: transform ease 300ms;
}
.hamburger span:after{
	transform: translateX(0);
}
.hamburger span:nth-child(2):before,
.hamburger span:nth-child(2):after{
	transition-delay: 75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
	transition-delay: 150ms;
}
.vnt-menu-toggle:hover .hamburger span:before{
	transform: translateX(0);
}
.vnt-menu-toggle:hover .hamburger span:after{
	transform: translateX(200%);
}
.vnt-menu-toggle.active .hamburger span:before{
	transform: translateX(100%);
}
.vnt-menu-toggle.active .hamburger span:after{
	transform: translateX(200%);
}
.cross span{
	display: block;
	width: 18px;
	height: 2px;
	background-color: #fff;
	transform: translateY(50%) rotate(45deg) scaleX(0);
	transition: transform ease 200ms;
}
.cross span:last-child{
	transform: translateY(-50%) rotate(-45deg) scaleX(0);
}
.vnt-menu-toggle.active .cross span {
	transition-delay: 450ms;
	transform: translateY(50%) rotate(45deg) scaleX(1);
}
.vnt-menu-toggle.active .cross span:last-child{
	transform: translateY(-50%) rotate(-45deg) scaleX(1);
}
</style>
