<template>
  <div class="vnt-mobile-menu" :style="[componentStyles]">
    <nav class="mobile-nav f_flex@xs f_flex-columns f_align-items-center f_justify-content-center f_z-depth-4">
      <ul class="f_list-unstyled mobile-nav-list" v-if="$route.name === 'home'">
        <li
          v-for="item in items"
          :key="item.label">
          <a
            href="#"
            v-scroll-to="{ el: item.hash, onStart: toggleMobileMenu }">
              {{ item.label }}
          </a>
        </li>
      </ul>
      <ul class="f_list-unstyled mobile-nav-list" v-else>
        <li
          v-for="item in items"
          :key="item.label">
          <router-link @click.native="toggleMobileMenu" :to="`/${item.hash}`" >{{ item.label }}</router-link>
        </li>
      </ul>

      <div class="social-col f_flex f_align-items-center f_justify-content-end">
        <a href="#">
          <vnt-icons type="fb"></vnt-icons>
        </a>
        <a href="#">
          <vnt-icons type="insta"></vnt-icons>
        </a>
      </div>
    </nav>
  </div>
</template>

<script>
import EventBus from '@/event-bus.js';
import VntIcons from '@/components/VntIcons.vue';
import VntSep from '@/components/VntSep.vue';

export default {
  name: 'vnt-mobile-menu',

  data() {
    return {
      state: false,
      items: [
        {
          name: 'home',
          hash: '#section-projects',
          label: 'Projects'
        },
        {
          name: 'home',
          hash: '#section-practice',
          label: 'Practice'
        },
        {
          name: 'home',
          hash: '#section-people',
          label: 'People'
        },
        {
          name: 'home',
          hash: '#section-contact',
          label: 'Contact'
        }
      ]
    }
  },

  components: {
    VntIcons,
    VntSep
  },

  computed: {
    componentStyles() {
      return {
        right: this.state ? 0 : '-100%'
      }
    },
  },

  mounted() {
    EventBus.$on('toggleMobileMenu', () => {
      this.state = !this.state;
    });
  },

  methods: {
    toggleMobileMenu() {
      EventBus.$emit('toggleMobileMenu');
    },
  }
}
</script>

<style lang="scss" scoped>
.vnt-mobile-menu {
  width: 80%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 99;
  transition: all 0.4s;
}

@media (min-width: #{$mq-lg}) {
  .vnt-mobile-menu {
    width: 33%;
  }
}

.mobile-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  background: darken($color-gray, 15%);
  z-index: 2;
  transition: all 0.4s;
}

.mobile-nav-list {
  li {
    &:after {
      content: "";
      display: block;
      margin: .5rem auto;
      width: 30px;
      height: 2px;
      background-color: $color-yellow;
    }
  }

  a {
    font-size: 3rem;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
}
</style>

