<template>
  <div
    class="vnt-people">
    <div class="f_flex f_justify-content-between f_align-items-center">
      <div v-for="(item, i) in items" :key="item.title+i" class="f_col-25">
        <app-circle-link :item="item"></app-circle-link>
      </div>
    </div>
  </div>
</template>


<script>
import AppCircleLink from '@/components/AppCircleLink.vue';

export default {
  name: 'vnt-people',

  components: {
    AppCircleLink,
  },

  props: {
    items: {
      type: Array,
      required: true,
    }
  },

  data: () => ({
    hovered: false,
    hoverColor: '#fff'
  }),

  computed: {
    headingStyle() {
      return {
        color: this.hoverColor
      }
    }
  },

  methods: {
    updateHoverState(val, item) {
      console.log(val)
      this.hovered = val;
      if(val) {
        this.hoverColor = item.hover_color;
      }
    }
  }
}
</script>

<style lang="scss">
.vnt-people {
  @media (min-width: #{$mq-lg}) {
    height: 72vh;
  }

  >.f_flex {
    height: 100%;
  }
}
</style>
