<template>
  <div class="vnt-projects-masonry f_container-fluid">

    <div
      v-if="items"
      v-masonry
      transition-duration="0.3s"
      item-selector=".masonry-item"
      class="f_flex f_flex-wrap vnt-masonry"
      percent-position="true"
      >
      <div class="masonry-item f_col-25" v-masonry-tile v-for="(item, i) in items" :key="item.id+i">
        <div class="masonry-item-inner">
          <img  :src="item.cover_image.vnt_medium_crop.url" :alt="item.title"/>
          <router-link
            class="masonry-item-link"
            :to="{ name: 'project', params: { cat: $route.params.cat, project: item.slug } }">
            <span v-html="item.title"></span>
          </router-link>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'vnt-projects-masonry',

  props: {
    items: {
      type: Array,
      default: null
    },
    bg: {
      type: String,
      default: '#000'
    }
  },

  methods: {

  }
}
</script>

<style lang="scss" scoped>
.vnt-masonry {

  .masonry-item {
    float: left;
    margin: 0;
    padding: .75rem;
    overflow: hidden;

    a:hover {
      text-decoration: none;
    }

    .masonry-item-inner {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }

      .masonry-item-link {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        color: #000;
        opacity: 0;
        transition: all 0.4s;

        span {
          word-break: break;
        }
      }

      .masonry-item-link:hover {
        opacity: 1;
        background: rgba(255,255, 255, 0.7);
      }
    }
  }
}
</style>
