<template>
  <section :class="[sectionClasses]">
    <h1
      v-if="heading"
      class="vnt-page-heading"
      v-html="heading"
      :style="[headingClasses]"></h1>
    <vnt-sep v-if="sep" :bg="sepBg" :spacing="sep"/>
    <slot></slot>
  </section>
</template>

<script>
import VntSep from '../components/VntSep.vue';

import { slugify } from '../utils';

export default {
  name: 'vnt-page-section',

  components: {
    VntSep
  },

  props: {
    heading: {
      default: null
    },
    bg: {
      default: 'light'
    },
    sep: {
      default: null
    },
    sepBg: {
      default: '#fff'
    },
  },


  computed: {
    sectionClasses() {
      let classes = {
        'vnt-page-section': true,
        'vnt-page-section-has-heading': this.heading,
        'vnt-page-section-light': this.bg === 'light',
        'vnt-page-section-dark': this.bg === 'dark',
      };

      classes['vnt-page-section-'+slugify(this.heading)] = true;

      return classes;
    },
    headingClasses() {
      return {
        'padding-top': '5rem',
        'padding-right': 0,
        'padding-bottom': this.sep ? '0' : '5rem',
        'padding-left': 0,
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.vnt-page-section {
  padding: 5rem 0;
}

.vnt-page-section-has-heading {
  padding: 0 0 7rem 0;
}

.vnt-page-heading {
  text-align: center;
  font-weight: 600;
  font-size: 6rem;
}

.vnt-page-section-dark {
  background: $color-gray;
  color: #fff;
}

.vnt-page-section-dark p,
.vnt-page-section-dark .vnt-page-heading {
  color: #fff;
}
</style>

