<template>
  <div class="vnt-project-categories-masonry">

    <div>
      <div
        v-if="justifiedGalleryItems"
        id="justified-gallery"
        ref="justifiedGallery"
        :style="{ height: `${justifiedGalleryContainerHeight}px`, width: `${windowWidth}px` }">
        <div
          v-for="(item, i) in justifiedGalleryItems"
          :key="i"
          class="justified-gallery-box"
          :style="{
            width: `${item.box.w}px`,
            height: `${item.box.h}px`,
            top: `${item.box.t}px`,
            left: `${item.box.l}px`
          }">
            <div class="justified-gallery-box-inner">
                <img
                  class="justified-gallery-box-img"
                  :src="item.data.cover_image.vnt_medium_crop_h.url" />
                <router-link
                  class="justified-gallery-box-link"
                  :to="{ name: 'projects.cat', params: { cat: item.data.slug } }">
                  <span v-html="item.data.name"></span>
                </router-link>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import imagesLoaded from 'vue-images-loaded';
// import fjGallery from 'flickr-justified-gallery';
const justifiedLayout = require('justified-layout');

export default {
  name: 'vnt-project-categories-masonry',

  directives: {
      imagesLoaded
  },

  data() {
    return {
      projectCategories: [],
      justifiedGalleryItems: [],
      justifiedGalleryContainerHeight: 0,
      windowWidth: 0,
      windowWidthFactor: .9,
    }
  },

  created() {
    this.fetchProjectCategories();
  },

  updated() {
    this.windowWidth = Math.ceil(window.outerWidth - 89);
  },

  methods: {
    async fetchProjectCategories() {
      try {
        const { data } = await this.$store.dispatch('api/get', {
          path: '/project-categories?filter[orderby]=term_order?per_page=100',
        });

        this.projectCategories = data;

        this.generateGalleryBoxes(this.projectCategories);
      }
      catch (error) {
        console.log(error);
      }
    },
    imageProgress() {
      return;
    },
    generateGalleryBoxes(items) {
      const boxes = [];
      items.forEach(i => {
        boxes.push({
          width: i.cover_image.vnt_medium_crop_h.w,
          height: i.cover_image.vnt_medium_crop_h.h,
          url: i.cover_image.vnt_medium_crop_h.url,
        });
      });

      this.generateJustifiedOutput(
        boxes,
        {
          containerWidth: Math.ceil(window.outerWidth - 89),
          boxItems: items,
          containerPadding: 5,
          boxSpacing: 5,
          targetRowHeight: 320,
          widowLayoutStyle: 'center'
        }
      );
    },
		generateJustifiedOutput(input, config) {

      const geometry = justifiedLayout(input, config);

			geometry.boxes.map((box, i) => {
        this.justifiedGalleryItems.push({
          box: {
            w: box.width,
            h: box.height,
            t: box.top,
            l: box.left,
            s: box.single || false
          },
          data: config.boxItems[i]
        });
        this.justifiedGalleryContainerHeight = Math.ceil(geometry.containerHeight);
      });

      // console.log(this.justifiedGalleryContainerHeight)

			// container.style.height = geometry.containerHeight + "px";
      // container.style.width = config.containerWidth + "px";
		}
  }
}
</script>

<style lang="scss" scoped>
#justified-gallery {
  position: relative;
  margin: 0 auto;
  transform: translateX(-2px);

  .justified-gallery-box {
    position: absolute;
    background: $color-dark;

    .justified-gallery-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .justified-gallery-box-link {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 2.125rem;
      color: #fff;
      font-weight: 700;
      transition: all 0.4s;

      span {
        word-break: break;
        opacity: 0;
        transition: all 0.4s;
      }
    }

    .justified-gallery-box-link:hover {
      background: rgba(0, 0, 0, 0.6);
      text-decoration: none;

      span {
        opacity: 1;
      }
    }

    img.justified-gallery-box-img {
      width: 100%;
    }
  }
}
</style>

