<template>
  <div class="vnt-parallax" v-scroll="onScroll">
    <div class="vnt-parallax-container" :style="[styles]">
      <div class="body-container">
        <div class="body-content">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'vnt-parallax',

  props: {
    img: {
      default: null,
      required: true
    },
    height: {
      type:String,
      default: '33.3333vh',
    },
    heightSm: {
      type:String,
      default: null,
    }
  },

  data() {
    return {
      imgTranslate: 0
    }
  },

  computed: {
    styles() {
      const heightSm = this.heightSm ? this.heightSm : '16vh';
      let height = window.outerWidth < 1200 ? heightSm : this.height;
      return {
        backgroundImage: `url(${this.img})`,
        height: height,
        color: '#fff',
        backgroundPositionY: `${this.imgTranslate}%`
      }
    },
    src() {
      return require(`../assets/images/${this.img}`);
    }
  },

  methods: {
    onScroll() {
      this.imgTranslate = window.scrollY * 0.01;
    }
  }
}
</script>

<style lang="scss" scoped>
.vnt-parallax {
  overflow: hidden;
}

.vnt-parallax-container {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.body-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.body-content {
  text-align: center;
  width: 80vw;

  @media (min-width: #{$mq-lg}) {
    width: 33%;
  }
}
</style>
