<template>
  <div class="app-scroll-arrow" @click="$emit('clicked')">
    <div class="app-scroll-arrow-wrap">
      <div class="scroll-arrow"></div>
      <div class="scroll-arrow"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-scroll-mouse',
};
</script>


<style lang="scss">
$animation-delay: .1s;
$arrow-size: 32px;

.app-scroll-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 2rem;

  .scroll-arrow {
    width: $arrow-size;
    height: $arrow-size;
    transform: rotate(45deg);
    border-right: 3px solid #eeca1d;
    border-bottom: 3px solid #eeca1d;
    animation: arrow-wave .6s infinite;
    animation-direction: alternate;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay*$i;
      }
    }
  }

  @keyframes arrow-wave {
    0% {
      opacity: .2;
    }
    50% {
      opacity: .6;
    }
    100% {
      opacity: 1;
    }
  }
}
</style>
