<template>
  <div class="vnt-sep f_flex@xs" :style="[style]">
    <div class="vnt-sep-inner" :style="[innerStyle]"></div>
  </div>
</template>

<script>
export default {
  name: 'vnt-sep',

  props: {
    width: {
      default: '50px'
    },
    height: {
      default: '3px'
    },
    bg: {
      default: '#fff'
    },
    position: {
      default: 'center'
    },
    spacing: {
      default: '2.25rem'
    }
  },

  computed: {
    innerStyle() {
      return {
        width: this.width,
        flexBasis: this.width,
        height: this.height,
        backgroundColor: this.bg,
      }
    },
    style() {
      return {
        alignItems: 'center',
        justifyContent: this.position,
        margin: this.spacing + ' 0'
      }
    }
  },
}
</script>
