<template>
  <button
    type="button"
    class="f_z-depth-3"
    @click="$emit('clicked')"
    v-scroll-to="'#app'">
    <vnt-icons hover-color="#fac606" type="chevron_u"></vnt-icons>
  </button>
</template>

<script>
import VntIcons from '@/components/VntIcons.vue';

export default {
  name: 'VntTop',

  components: {
    VntIcons
  }
}
</script>

<style lang="scss" scoped>
button {
  width: 42px;
  height: 42px;
  border: none;
  background: $color-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 90%;
  right: 0;
  outline: none;
  z-index: 11;
  transition: all .5s;
}
</style>
