<template>

  <div id="app" class="vnt-app" :class="[appClass]">

    <div
      class="close-mobile-menu-overlay"
      @click="toggleMobileMenu"
      :style="[overlayStyles]"></div>

    <vnt-mobile-menu />

    <div class="menu-toggle">
      <vnt-menu-toggle />
    </div>

    <vnt-header v-if="thisRoute" :logo="thisRoute !== 'home' ? true : showHeaderLogo"/>

    <router-view class="view vnt-view" :key="$route.fullPath" />

    <vnt-top v-show="showToTop"/>

    <vnt-footer />
  </div>

</template>

<script>
import VntHeader from '@/components/VntHeader.vue';
import VntFooter from '@/components/VntFooter.vue';
import VntMobileMenu from '@/components/VntMobileMenu.vue';
import VntMenuToggle from '@/components/VntMenuToggle.vue';
import VntTop from '@/components/VntTop.vue';
import EventBus from '@/event-bus.js';

export default {
  components: {
    VntHeader,
    VntFooter,
    VntMobileMenu,
    VntMenuToggle,
    VntTop
  },

  data() {
    return {
      excluded: [
        'vnt-project-categories-masonry'
      ],
      mobileMenuState: false,
      showHeaderLogo: false,
      showToTop: false,
    }
  },

  computed: {
    appClass() {
      const route = this.$route.name ? this.$route.name.replace('.', '-') : '';
      return [
        `route-${route}`
      ]
    },
    overlayStyles() {
      return {
        display: this.mobileMenuState ? 'block' : 'none'
      }
    },
    thisRoute() {
      return this.$route.name;
    }
  },

  mounted() {
    EventBus.$on('toggleMobileMenu', () => {
      this.mobileMenuState = !this.mobileMenuState;
    });

    EventBus.$on('pageScrollThreshold', (val) => {
      this.showToTop = val;
      if(this.$router.currentRoute.name === 'home') {
        this.showHeaderLogo = val;
      } else {
        this.showHeaderLogo = true;
      }
    });
  },

  methods: {
    toggleMobileMenu() {
      EventBus.$emit('toggleMobileMenu');
    },
  }
}
</script>


<style lang="scss">
@import './assets/scss/app';

#app:not(.route-home):not(.route-page) {
  padding-top: 81px;
}

.vnt-view {
  min-height: 100vh;
}

.close-mobile-menu-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.5);
  z-index: 1;
  transition: all 0.4s;
}

.menu-toggle {
  position: fixed;
  top: 2.1rem;
  right: 2rem;
  z-index: 99;

  @media (min-width: #{$mq-lg}) {
    display: none;
  }
}
</style>
